<!DOCTYPE html>
    <html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>Тренировка</title>
        <style>
            .link {
                display: inline-block;
                padding: 10px 20px;
                background: #87CEFA;
                border-radius: 8px;
                text-decoration: none;
                color: black;
                font-weight: bold;
            }
        </style>
    </head>
    <body>
        <h1 align="left" position=fixed"><strong>Ударник</strong></h1>
        <a href="/exercise_word" class="link">Тренировать все слова</a>
        <a href="/exercise_such" class="link">Тренировать существительные</a>
    <a href="/exercise_pr" class="link">Тренировать прилагательные и причастия</a>
    <a href="/exercise_gl" class="link">Тренировать глаголы</a>
    <a href="/exercise_dn" class="link">Тренировать деепричастия и наречия</a>

    </body>
</html>