<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
    <style>
            .link {
                display: inline-block;
                padding: 10px 20px;
                background: #87CEFA;
                border-radius: 8px;
                text-decoration: none;
                color: black;
                font-weight: bold;
            }
    </style>
</head>
<body>
<h1>Войти</h1>
{% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
{% endwith %}
<form action="/sign_in" method="POST">
    <input type="text" name="login" placeholder="Логин" required>
    <input type="password" name="password" placeholder="Пароль" required>
    <button type="submit">Войти</button>
</form>
<a href="/index" class="link">Отмена</a>
</body>
</html>