<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Статистика</title>
    <style>
            .link {
                display: inline-block;
                padding: 10px 20px;
                background: #87CEFA;
                border-radius: 8px;
                text-decoration: none;
                color: black;
                font-weight: bold;
            }
    </style>
</head>
<body>
<h1>Статистика за всё время: {{ great }} {{ all }}</h1>
<p>Все слова:</p>
<p>Существительные:</p>
<p>Прилагательные и причастия:</p>
<p>Глаголы:</p>
<p>Деепричастия и наречия:</p>
<a href="/index" class="link" align="right">Назад</a>
</body>
</html>